/* memory specific */

 .container {
    background-color: yellow;
    margin-top: 5px;
    margin-bottom: 5px;
 }
.card {
    border-style: solid;
    border-color: black;
    background-color: blue;
    color:white;
    height: 195px;
    padding-top: 40px:
    padding-left:40px;
}